<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>余杭智慧建造项目</title>
		<link rel="stylesheet" type="text/css" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
	</head>
	<body>
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<a href="#" class="navbar-brand">余杭智慧建造</a>
					</div>
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">智慧工地</a>
							<ul class="dropdown-menu">
								<li><a href="#">模型浏览</a></li>
								<li><a href="#" id="realtimeWatch">实时监测</a></li>
								<li><a href="#">数字巡检</a></li>
								<li><a href="#">物料监控</a></li>
								<li><a href="#">人次识别</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">数字设计</a>
							<ul class="dropdown-menu">
								<li><a href="#">3D施工</a></li>
								<li><a href="#">碰撞检测</a></li>
								<li><a href="#">净高检查</a></li>
								<li><a href="#">车库优化</a></li>
								<li><a href="#">空洞预留</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">预智施工</a>
							<ul class="dropdown-menu">
								<li><a href="#">成本</a></li>
								<li><a href="#">质量</a></li>
								<li><a href="#">进度</a></li>
								<li><a href="#">安全</a></li>
								<li><a href="#">3D布场方案</a></li>
								<li><a href="#">施工模拟</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">数字文库</a>
							<ul class="dropdown-menu">
								<li><a href="#">汇总检索</a></li>
								<li><a href="#">节点上传</a></li>
								<li><a href="#">分类归档</a></li>
								<li><a href="#">3D图审</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">智慧管理</a>
							<ul class="dropdown-menu">
								<li><a href="#">规划报批</a></li>
								<li><a href="#">图纸审查</a></li>
								<li><a href="#">审计招标</a></li>
								<li><a href="#">合同管理</a></li>
							</ul>
						</li>
					</ul>
				</div>
				
			</nav>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>